body {
    font: medium monospace, Arial;
    background: #FFF;
}

h1 {
    margin: 10px 0;
}

nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 7px 15px;
    background: skyblue;
    transition: all 0.35s;
}

nav a::before {
    content: "> ";
}

nav a.homelink::before {
    content: "< ";
}

nav a:hover {
    color: #FFF;
    background: darkblue;
}

button {
    cursor: pointer;
    margin: 15px 0;
    font-weight: bold;
    color: #FFF;
    border: none;
    padding: 6px 9px;
    border-radius: 7px;
    background: #000;
    transition: all 0.35s;
}

button.encrypt {
    background: firebrick;
}

button.decrypt {
    background: darkgreen;
}

button:hover {
    filter: saturate(5);
    transform: scale(1.2);
}

/* SECRET */

body.secret {
    margin: 0;
    padding: 2vh 0;
    font: 12px monospace;
    color: #333;
    height: 100vh;
    text-align: center;
}
.secret textarea {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    padding: 10px;
    /* border: none; */
    resize: none;
}

.secret textarea::scrollbar {
  display: none;
}

/* TRANSLATOR */

body.translator {
    display: flex;
    height: 85vh;
}

.translator .block {
    flex-basis: 50%;
    margin: 2.5vh 0;
    height: 95vh;
    text-align: center;
}

.translator .block:nth-child(1) {
    border-right: 1px solid #000;
}

.translator .block:nth-child(2) {
    border-left: 1px solid #000;
}

.translator .label {
    color: #333;
    font-weight: bold;
}

.translator h2 {
    color: #333;
    font-size: xx-large;
    margin: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.translator textarea {
    display: block;
    margin: 1em auto;
    width: 90%;
    height: 25vh;
}

.translator textarea, .translator input {
    border: 1px solid #666;
    border-radius: 3px;
}

.translator .centered {
    text-align: center;
}

.translator hr {
    color: #000;
    border: none;
    border-top: 2px dashed #999;
    margin: 2.5em 0 1.5em;
}
